/*****************************************
********** TAG SELECTORS *****************/
body{
    background: linear-gradient(#000428,#004e92);
    height: 730px;
    width: auto;
    font-family: 'Lato', sans-serif;
    background-size: cover;
}

p{
    font-size: 1.8em;
    display: none;
    text-align: center;
    color: white;
}

img{
    position: relative;
    top: 33px;
    height: 78px;
    width: 78px;
}

ol{
    position: relative;
    left: 35%;
    bottom: 65px;
    font-size: 1.6em;
    color: white;
}

h2{
    margin: 0;
    padding: 0;
    position: relative;
    top: 25px;
}

/*****************************************
********** ID SELECTORS *****************/

#getWeather_Btn{
    height: 46px;
    width: 150px;
    font-size: 1.5em;
    color: #556270;
    border-radius: 3px;
    background: white;
    border: 1px solid;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

#getWeather_Btn:hover{
    color: white;
    transition: .2s all; 
    border: 1px solid white;
    background: #004e92;
}

#inputCity{
    height: 43px;
    width: 200px;
    font-size: 1.8em;
    color: #556270;
    border-radius: 3px;
    border: 1px solid;
    margin-left: 136px;
    margin-right: 23px;
}

/*****************************************
********** CLASS SELECTORS ***************/

.main-container{
    margin: 0 auto;
    display: block;
    width: 50%;
    transition: .6s all;
    border-radius: 3px;
    margin-top: 5%;
    position: relative;
    bottom: 80px;
}

.sun{
    height: 50px;
    width: 50px;
    animation: spin 9s infinite linear;
    cursor: pointer;
}

@keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

.title{
    font-weight: 100;
    text-align: left;
    font-size: 2.5em;
    text-align: center;
    color: white;
    margin-top: 0;
}

.description{
    margin-top: -60px;
}

.appBack{
    height: 320px;
    width: 52%;
    background: white;
    opacity: .2;
    border-radius: 5px;
    position: absolute;
    bottom: 425px;
    left: 310px;
    z-index: -3;
    transition: .3s all;
}

.toDo{
    color: white;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    padding: 1% 1% 1% 1%;
    transition: .1s all;
    border-radius: 3px;
    font-size: .8em;
    margin-top: 20px;
    display: none;
}

.exitTo{
    position: relative;
    left: 63px;
    bottom: 17px;
    background: white;
    color: #778899;
    border-radius: 50%;
    width: 10px;
    padding-left: 8px;
    padding-right: 5px;
    transition: .5s all;
    height: 21px;
    cursor: pointer;
    display: none;
}

.toDo:hover{
    opacity: .6;
}

.hello{
    display: none;
    margin-top: -45px;
    border-top: 1px solid white;
    color: white;
    width: 40%;
    position: relative;
    left: 30%;
    text-align: center;
    padding-bottom: 90px;
}

.add , .inp{
    display: none;
    position: relative;
    left: 39%;
    bottom: 13%;
    bottom: 75px;
    margin-right: 25px;
}

.inp{
    height: 33px;
    width: 160px;
    font-size: 1.3em;
    color: #556270;
    border-radius: 3px;
    border: 1px solid;
}

.add{
    height: 36px;
    width: 115px;
    font-size: 1.1em;
    color: #556270;
    border-radius: 3px;
    background: white;
    border: 1px solid;
    position: relative;
    bottom: 77px;
    cursor: pointer;
}

.add:hover{
    color: white;
    transition: .2s all; 
    border: 1px solid white;
    background: #004e92;
}

.todo-item-done{
    margin: 0 10px 0 10px;
    background: limegreen;
    color: white;
    border: none;
    border-radius: 3px;
}

.todo-item-delete{
    background: red;
    color: white;
    border: none;
    border-radius: 3px;
    height: 19px;
    width: 23px;  
    cursor: pointer;  
}

.task-finished{
    text-decoration: line-through;
    color: grey;
    cursor: pointer; 
}


/**********************************************************
********** REMEMBER TO INCLUDE MEDIA QUERIES***************/