body{
    background: linear-gradient(#4ECDC4 , #556270);
    height: 730px;
    width: auto;
    margin: 0;
    padding: 0;
}

.description{
    margin-top: -60px;
}

p{
    display: none;
}

img{
    position: relative;
    top: 33px;
    height: 78px;
    width: 78px;
}